@model List<CartDish>

@if (Model != null && Model.Count > 0)
{
    <h1 class="centertext">Cart</h1>
    <hr />
    foreach (var dish in Model.OrderBy(x => x.Added))
    {
        <p>@dish.Name</p>
        <a class="btn btn-info" role="button" asp-controller="Order" asp-action="Edit" asp-route-id="@dish.Id">Edit</a>
        <a class="btn btn-info" role="button" asp-controller="Order" asp-action="Remove" asp-route-id="@dish.Id">Remove</a>
        <hr />
    }
    <h2>Total price: @ViewData["OrderTotal"]</h2>
    <a asp-controller="Payment" asp-action="Pay">Check out</a>
}